.background {
  background-color: white;
}

.btn, .btn-primary {
  background-color: #767676 !important;
  border-color: #767676 !important;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #ccc;
  max-width: 600px;
  width: 80%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h3 {
  margin: 0;
  font-weight: bold;
}

.btn-close {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


@media (min-width: 375px) and (max-width: 767px) {
  .test {
    align-items: center;
    justify-content: center;
  }
}
