.background {
  background-color: white;
}

.btn, .btn-primary {
  background-color: #767676 !important;
  border-color: #767676 !important;
}


@media (min-width: 375px) and (max-width: 767px) {
  .test {
    align-items: center;
    justify-content: center;
  }
}
